src/main/java/org/meng/java/webservice/soap/echo/client/generated/echo.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.echo.soap.webservice.java.meng.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.echo.soap.webservice.java.meng.org/" name="EchoServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.echo.soap.webservice.java.meng.org/" schemaLocation="http://localhost:8080/echo?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"></part>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"></part>
</message>
<message name="echo">
<part name="parameters" element="tns:echo"></part>
</message>
<message name="echoResponse">
<part name="parameters" element="tns:echoResponse"></part>
</message>
<message name="getUsersMap">
<part name="parameters" element="tns:getUsersMap"></part>
</message>
<message name="getUsersMapResponse">
<part name="parameters" element="tns:getUsersMapResponse"></part>
</message>
<portType name="EchoServer">
<operation name="getAllUsers">
<input wsam:Action="http://server.echo.soap.webservice.java.meng.org/EchoServer/getAllUsersRequest" message="tns:getAllUsers"></input>
<output wsam:Action="http://server.echo.soap.webservice.java.meng.org/EchoServer/getAllUsersResponse" message="tns:getAllUsersResponse"></output>
</operation>
<operation name="echo">
<input wsam:Action="http://server.echo.soap.webservice.java.meng.org/EchoServer/echoRequest" message="tns:echo"></input>
<output wsam:Action="http://server.echo.soap.webservice.java.meng.org/EchoServer/echoResponse" message="tns:echoResponse"></output>
</operation>
<operation name="getUsersMap">
<input wsam:Action="http://server.echo.soap.webservice.java.meng.org/EchoServer/getUsersMapRequest" message="tns:getUsersMap"></input>
<output wsam:Action="http://server.echo.soap.webservice.java.meng.org/EchoServer/getUsersMapResponse" message="tns:getUsersMapResponse"></output>
</operation>
</portType>
<binding name="EchoServerPortBinding" type="tns:EchoServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllUsers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="echo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUsersMap">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="EchoServerService">
<port name="EchoServerPort" binding="tns:EchoServerPortBinding">
<soap:address location="http://localhost:8080/echo"></soap:address>
</port>
</service>
</definitions>